<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cyber security base - project 1</title>
    <style>
      body { font-family: sans-serif;}
    </style>
  </head>
  <body>
    <h1>This is the enlive template</h1>
    <div class="form">
      <form action="login.html" method="POST">
        <div class="field">
          <label>Username</label>
          <input name="username" type="text"/>
        </div>
        <div class="field">
          <label>Password</label>
          <input name="password" type="password"/>        
        </div>
        <div class="buttons">
          <button type="submit">Login</button>
        </div>
      </form>
      <div style="margin-top:2em;font-size:70%;">
        <strong>Testing users</strong><br/>
        bob: spooky<br/>
        liz: allied<br/>
        mark: personal<br/>
        jack: mystery
      </div>
    </div>
  </body>
</html>
