<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cyber security base - project 1</title>
    <style>
      body { font-family: sans-serif; }
      .message { margin-bottom: 1em; }
      .ellipsis { font-size:70%; }
      .sender { font-weight: bold; }
      .login { float:right; }
    </style>
  </head>
  <body>
    <div class="login"></div>
    <h1>This is the enlive template</h1>
    <div class="content">
      This is where you should render content from enlive snippet.
    </div>
  </body>
</html>
